# Python
__pycache__/
*.pyc
venv/
.env

# Modèle entraîné (trop lourd pour Git)
backend/saved_model/
backend/*.safetensors
backend/*.bin
backend/config.json
backend/tokenizer.json
backend/tokenizer_config.json
backend/label_mapping.json
backend/sentencepiece.bpe.model
backend/vocab.txt
backend/special_tokens_map.json

# React
frontend/node_modules/
frontend/dist/

# Notebook checkpoints
.ipynb_checkpoints/